<h2>Create a new tweet</h2>
  <form action="/tweets" method="POST">
    <label>Status:</label>
    <input type="text" name="content">
    <input class="btn btn-primary" type="submit" value="submit">
  </form>